This plugin available from Maven Central. This means you can simply add it to
your ``pom.xml``, specifying your preferred format configuration. For example:

```
<plugin>
  <groupId>${project.groupId}</groupId>
  <artifactId>${project.artifactId}</artifactId>
  <version>${project.version}</version>
  <executions>
    <execution>
      <id>xml-format</id>
        <goals>
          <goal>xml-format</goal>
        </goals>
      <configuration>
        <!-- configure your formatting preferences here (see link below) -->
        <indentSize>2</indentSize>
      </configuration>
    </execution>
  </executions>
</plugin>
```

The above will cause ``mvn package`` to format all your XML files automatically
during any `verify` phase. You can select a different phase by adding a
`<phase>someOther</phase>` to the `<execution>` element.

Please see the [xml-format:xml-format](xml-format-mojo.html) page for the
available configuration options.
